:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #161f27;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #717880;
  --links: #20c580;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-hover: #324759;
  --scrollbar-thumb: rgb(53,74,96);
  --scrollbar-thumb-hover: rgb(43, 56, 71);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E")
}

@media (prefers-color-scheme:light) {
  :root {
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #f7f7f7;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-bright: #000;
    --text-muted: #999;
    --links: #5f9613;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --code: #000;
    --animation-duration: 0.1s;
    --button-hover: #ddd;
    --scrollbar-thumb: rgb(196, 195, 195);
    --scrollbar-thumb-hover: rgb(145, 145, 145);
    --form-placeholder: #949494;
    --form-text: #000;
    --variable: #39a33c;
    --highlight: #ff0;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E")
  }
}

/* Main */

.main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-main);
  background: var(--background-body);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  scroll-behavior: smooth;
}

.note {
  font-weight: 400;
  font-size: 0.75em;
  font-style: italic;
}

.note::before {
  content: "— ";
}

.tbc {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-main);
  background: var(--background-body);
  background-image: url('../img/tbc.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  scroll-behavior: smooth;
}

.container {
  background: rgba(0, 0, 0, 0.014);
  backdrop-filter: blur(20px);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 4em;
}

.tbclink {
  color: #30e736;
}

.tbclink:hover {
  color: #39a33c;
}

.tbcdivide {
  color: #84c589;
}

/* Main */

/* Sandbox */

a#header {
  font-size: 0.7em;
}

div#searchbar {
  display: flex;
  justify-content: left;
  position: relative
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

img#icons {
  height: .75em;
  width: .75em;
}

img#icons-alt {
  height: .75em;
  width: .75em;
}

code {
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: block;
  background: var(--background-alt);
}

span#fn {
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background: var(--background-alt);
  font-family: 'Courier New', Courier, monospace;
}

.toc {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: var(--background-body);
  border-style: solid;
  border-width: 0.05em;
  border-color: var(--background-alt);
  text-align: center;
  padding: 0.05em;
  font-size: 1.02em;
}

mark {
  font-size: 2em;
  background: var(--highlight);
}

/* Sandbox */

.section { /* This is the *body* for Addons and Macros pages. */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  max-width: 1400px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

input {
  position: absolute;
  right: 0;
  transition: background-color var(--animation-duration) linear, border-color var(--animation-duration) linear, color var(--animation-duration) linear, box-shadow var(--animation-duration) linear, transform var(--animation-duration) ease
}

h1 {
  font-size: 2.2em;
  margin-top: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-bright)
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 600
}

a[href^='mailto\:']::before {
  content: '📧 '
}

a[href^='tel\:']::before {
  content: '📞 '
}

a[href^='sms\:']::before {
  content: '💬 '
}

input[type=button],
input[type=checkbox],
input[type=radio],
input[type=range],
input[type=submit] {
  cursor: pointer
}

input:not([type=checkbox]):not([type=radio]) {
  display: block
}

input {
  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: 0
}

input {
  -webkit-appearance: none
}

input[type=button],
input[type=submit] {
  padding-right: 30px;
  padding-left: 30px
}

input[type=button]:hover,
input[type=submit]:hover {
  background: var(--button-hover)
}

input:focus {
  box-shadow: 0 0 0 2px var(--focus)
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 2px
}

input[type=radio] {
  border-radius: 50%
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background: var(--button-hover)
}

input[type=checkbox]:checked::before,
input[type=radio]:checked::before {
  content: '•';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

input[type=checkbox]:checked::before {
  content: '✔';
  transform: translateY(-50%) translateY(.5px) translateX(-6px)
}

input[type=button]:active,
input[type=checkbox]:active,
input[type=radio]:active,
input[type=range]:active,
input[type=submit]:active {
  transform: translateY(2px)
}

input:disabled {
  cursor: not-allowed;
  opacity: .5
}

::-webkit-input-placeholder {
  color: var(--form-placeholder)
}

::-moz-placeholder {
  color: var(--form-placeholder)
}

::-ms-input-placeholder {
  color: var(--form-placeholder)
}

::placeholder {
  color: var(--form-placeholder)
}

input[type=range] {
  margin: 10px 0;
  padding: 10px 0;
  background: 0 0
}

input[type=range]:focus {
  outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.5px;
  transition: .2s;
  background: var(--background);
  border-radius: 3px
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border);
  -webkit-appearance: none;
  margin-top: -7px
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--background)
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.5px;
  transition: .2s;
  background: var(--background);
  border-radius: 3px
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border)
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9.5px;
  background: 0 0;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent
}

input[type=range]::-ms-fill-lower {
  background: var(--background);
  border: .2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}

input[type=range]::-ms-fill-upper {
  background: var(--background);
  border: .2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--border)
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--background)
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--background)
}

a {
  text-decoration: none;
  color: var(--links);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  text-decoration: none
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%
}

td,
th {
  padding: 6px;
  text-align: left
}

thead {
  border-bottom: 1px solid var(--border)
}

tbody tr:nth-child(even) {
  background-color: var(--background-alt)
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover)
}

::-moz-selection {
  background-color: var(--selection)
}

::selection {
  background-color: var(--selection)
}

footer {
  border-top: 1px solid var(--background);
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: .8em;
  color: var(--text-muted)
}

/* Bigfoot */

.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
  outline: none;
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button:active {
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button.is-active {
  background-color: #6e6e6e;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.bigfoot-footnote__button:after {
  content: '';
  display: table;
  clear: both;
}

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left;
}
.bigfoot-footnote__button__circle:last-child {
  margin-right: 0;
}

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}
@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important;
  }
}
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: var(--background-body);
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid var(--background-body);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: scale(0.1) translateZ(0);
          transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0;
}
.bigfoot-footnote.is-active {
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 0.97;
}
.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
}
.bigfoot-footnote.is-bottom-fixed.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
  border-radius: 0;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none;
}
.bigfoot-footnote.is-scrollable:after {
  content: '';
  position: absolute;
  bottom: 0.3375em;
  left: 0.3375em;
  z-index: 14;
  display: block;
  height: 0.78125em;
  width: 0.625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: 0.1;
  transition-properties: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background-image: -webkit-linear-gradient(top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background-image: -webkit-linear-gradient(bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none;
}
.bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: var(--background-alt);
  border-radius: 0.5em;
  line-height: 0;
}

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  font-weight: normal;
  font-size: 0.9em;
  max-height: 30em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--background-alt);
  color: var(--text-main);
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal;
}
.bigfoot-footnote__content img {
  max-width: 100%;
}
.bigfoot-footnote__content *:last-child {
  margin-bottom: 0 !important;
}
.bigfoot-footnote__content *:first-child {
  margin-top: 0 !important;
}

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--background-alt);
  border: 1px solid var(--background-alt);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}
.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -0.65em;
}
.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -0.65em;
}